.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  /* padding: 1.4rem; */
  margin-bottom: 3rem;
  overflow: hidden;
  transition: var(--tran-03);
}

.dark .product-card {
  background-color: var(--dark-theme);
}

.card-container {
  width: 100%;
}

.product-card:hover {
  box-shadow: 0 4px 25px 0 rgb(34 41 47 / 25%);
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
}

.product-card .item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.item-wrapper .item-price {
  font-size: 1.5rem;
  font-weight: 600;
}

.product-card .item-name {
  margin-bottom: 0.6rem;
}

.product-card .item-name a {
  font-weight: 600;
  text-decoration: none;
  color: #9d93c0;
}

.product-card .mid-part {
  padding: 1.5rem;
}

.item-desc {
  font-size: 1.3rem;
}

.item-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.item-options.row {
  flex-direction: row !important;
}

.item-options a {
  text-decoration: none;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--tran-03);
  color: var(--text-color-dark);
  font-weight: 600;
}

.item-options a:first-child:hover {
  background-color: var(--grey-color-dark);
}

.dark .item-options a:first-child:hover {
  background-color: #171d31;
}

.item-options a svg {
  margin-right: 1rem;
}

.item-options a:first-child {
  background-color: var(--grey-color);
  color: var(--text-color);
}

.dark .item-options a:first-child {
  background-color: #171d31;
}
.dark .item-options a span,
.dark .item-options a:first-child svg {
  color: white;
}

.item-options a:last-child {
  background-color: var(--primary-color);
  color: white;
}

.item-options a:last-child span {
  color: white;
}
