.grid-card {
  background: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: var(--tran-03);
  row-gap: 2rem;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.grid-card:hover {
  box-shadow: 0 4px 25px 0 rgb(34 41 47 / 25%);
  transform: translateY(-5px);
}

.grid-card-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background: white;
  border-radius: 5px;
  transition: var(--tran-03);
  column-gap: 1rem;
}

.card-body {
  padding: 2.1rem 1.4rem;
  border-right: 1px solid rgba(192, 192, 192, 0.335);
}

.grid-card img {
 width: 100%;
}

.card-text {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.card-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-options h1 {
  color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: 500;
}
.card-options a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  width: 90%;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  color: var(--text-color);
  font-weight: 500;
}

.card-options a:first-of-type:hover {
  background-color: rgb(235, 235, 235);
}

.card-options a:first-of-type {
  background-color: var(--grey-color);
  margin: 1rem 0;
}

.card-options a:last-of-type:hover {
}

.card-options a:last-of-type {
  background-color: var(--primary-color);
  color: white;
}

.card-options a svg {
  margin-right: 1rem;
}
